.table-header-wrapper {
  @include flex-between;
  .table-header-left {
    @include flex-center;
    gap: 2.4rem;
    .table-header-title {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.24rem;
      min-width: fit-content;
    }
    .input-wrapper .ant-input-affix-wrapper {
      height: 3.4rem !important;
    }
  }
  .table-header-right {
    @include flex-center;
    gap: 0.8rem;
    .input-wrapper .ant-input-affix-wrapper {
      height: 3.4rem !important;
    }
    .sort-title {
      min-width: fit-content;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.24rem;
      color: $light-black;
    }
    .select-wrapper,
    .ant-select {
      height: 3.4rem;
      width: 12.7rem !important;
      .ant-select-selection-item,
      .ant-select-arrow {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 100%;
        color: $light-black;
      }
    }
    // span {
    //
    // }
    // .select-wrapper .ant-select {
    //   height: 3.4rem;
    //   width: 12.7rem;
    //   span {
    //     font-size: 1.6rem;
    //     font-weight: 400;
    //     line-height: 2.24rem;
    //     color: $dark-blue;
    //   }

    // }
    .clear-all {
      width: 3.2rem;
      padding: 0 0.8rem;
      height: 3.2rem;
      border: 1px solid $grey;
      border-radius: 0.5rem;
      @include flex-center;
      text-align: center;
      cursor: pointer;
      svg {
        color: $dark-gray;
      }
    }
  }
}
