.date-picker-wrapper {
  .ant-picker {
    width: 100% !important;
    height: 5rem !important;
    background: $extra-white;
    border: 1px solid $medium-grey;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active,
    &:target {
      border: 1px solid $main-blue;
    }

    .ant-picker-input {
      flex-direction: row-reverse;
      gap: 1rem;
      input {
        cursor: pointer;
      }
      .ant-picker-suffix {
        margin-inline-start: 0 !important;
        .anticon-calendar {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .ant-picker-status-error {
    input::placeholder {
      color: $error;
    }
  }
}
