.select-wrapper {
  width: 100%;

  // height: 5rem;
  // position: relative;

  // svg {
  //   position: absolute;
  //   left: 12px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   color: $medium-grey;
  //   z-index: 1;
  // }

  .ant-select {
    @include border-radius;
    background: $extra-white;
    height: 5rem;
    width: 100% !important;
    font-family: $sofia-font;
    .ant-select-selector {
      cursor: pointer !important;
      border: 0.1rem solid $medium-grey !important;
      background: $extra-white !important;
      // padding-left: 44px;
      input {
        // padding-left: 34px;
        cursor: pointer !important;
      }
    }
    // .ant-select-arrow {
    //   inset-inline-end: 34px;
    // }
  }

  .ant-select-disabled {
    .ant-select-selector {
      input {
        cursor: not-allowed !important;
      }
    }
  }

  .ant-select-status-error {
    @include border-radius;
    .ant-select-selector {
      border: 0.1rem solid $error !important;
      .ant-select-selection-placeholder {
        color: $error;
      }
    }

    .ant-select-arrow {
      color: $error;
    }
  }
  .ant-select-status-warning {
    @include border-radius;
    .ant-select-selector {
      border: 0.1rem solid $warning;
      .ant-select-selection-placeholder {
        color: $warning;
      }
    }
    .ant-select-arrow {
      color: $warning;
    }
  }
  // .select-dropdown {

  //   // background-color: #f00;
  // }
}

.ant-form-item-has-error {
  svg {
    color: $error !important;
  }
}
